#1.Function

In [1]:
stationfares = [
            {"station": "청량리", "fare": 1500},
            {"station": "성북", "fare": 1800},
            {"station": "의정부", "fare": 2000},
            {"station": "소요산", "fare": 2500}
]

In [2]:
stations = []
fares = []

In [3]:
for stationfare in stationfares:
  stations.append(stationfare['station'])
  fares.append(stationfare['fare'])
print(stations)
print(fares)

['청량리', '성북', '의정부', '소요산']
[1500, 1800, 2000, 2500]

In [4]:
len(stationfares)

4

In [5]:
max(fares)

2500

In [6]:
sum(fares)

7800

In [7]:
for idx, station in enumerate(stations):
    print(idx, station)

0 청량리
1 성북
2 의정부
3 소요산

In [12]:
sum = lambda a, b : a + b
sum(2, 3)

5

In [10]:
def getFare(station):
    for stationfare in stationfares:
        if stationfare['station'] == station:
            return stationfare['fare']

fare = getFare("청량리")
print(fare)

1500

In [11]:
for station in stations:
    print(station, getFare(station))

청량리 1500
성북 1800
의정부 2000
소요산 2500